*{
    margin:0;
    font-size: 1.2rem;
}
body{overflow-x: hidden;}
#inswrapper{
    display: block;
    width: 80%;
    margin: auto;
    padding-bottom: 50px;
}
p{
    background: #cbaf95;
}
#inputarea, p, button{
    display: block;
    margin:10px auto 10px auto;
    width: 100%;
    padding:20px;
    outline:none;
    border:1px solid black;
    border-radius: 10px;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box;      
}
#inswrapper button{
    margin-bottom: 10px;
    width: 75px;
    padding: 5px;
    font-size: 0.7em;
    float: right;
}
#inuputarea:focus{
    border:none;
    outline:none;
    border:1px solid black;
}
h1{text-align:center;}
canvas{
    display: block;
}
#time{
    font-size: 100px;
}
#results{
    display: none;
    margin: 70px auto;
    width: 80%;
}
#nonchart{
    margin-top: 20px;
    flex: auto;
    min-width: 100px;
}
#nonchart div h1{
    text-align:left;
    font-size: 1.7em;
}
#nonchart div{
    margin-top: 20px;
    font-size: 0.6em;
    font-weight: bold;
}
nav{
    position: relative;
    width: 100%;
    height: 50px;
    margin-bottom: 50px;
}
nav #bars{
    position: absolute;
    z-index: 2;
    width: 30px;
    top: 5px;
    right: 20px;
    float: right;
    cursor: pointer;
    transition: 1s;
}
nav h2{
    display: block;
    position: relative;
    z-index: 1;
    background: linear-gradient(#dcc,#ba9);
    height: 50px;
    padding: 10px 20px;
    border-bottom: 1px solid black;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box; 
}
#setngs{display:none;}
#setngs:checked ~ .settings{
    margin-top: 0;
    transform: perspective(10em) rotateX(0deg);
}
#setngs:checked ~ .barWrapper #bars{
    transform: rotate(180deg) translateX(20px) translateY(-10px);
}
#setngs:checked ~ .setng_else{
    display: block;
}
.settings{
    position: absolute;
    z-index: 0;
    width: 100%;
    display: flex;
    text-align: center;
    background: linear-gradient(#eee, #eed);
    transform: perspective(10em) rotateX(90deg);
    margin-top: -70px;
    transition: 1s;
    padding: 10px;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box; 
}
.settings div{flex: 1;}
.settings div{
    display: block;
    font-size: 0.6em;
}
.settings h1{
    margin: 30px;
    font-size: 1.4em;
}
#nwords{
    width: 50px;
    font-size: 1em;
    padding: 2px 5px;
    border-radius: 2px;
    border:1px solid black;
}
#nwords:focus{border:1px solid black;}
input[type='radio']{
    display: none;
}
#fonts label{
    font-size: 1.2em;
    margin-left: 10px;
    cursor: pointer;
}
.setng_else{
    position: fixed;
    display: none;
    width: 100%;
    height: 100vh;
}

#fontselector{
    font-size: 1em;
}
#fontselector option{
    font-size: 1em;
}
@media (max-width: 500px){
    nav h2{
        font-size: 0.8em;
    }
    #nonchart {
        display: flex;
        justify-content: space-between;
    }
    *{font-size: 17px;}
    #time{
        font-size: 50px;
    }
}
.wrapper{
    display: block;
    min-height:100vh;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box;   
    padding-bottom: 35px;
}
footer{
    display: block;
    position: relative;
    z-index: 2;
    width: 100%;
    height: 37px;
    margin-top: -34px;
    text-align: center;
    background: linear-gradient(#bea78a, #978777);
}
footer div{
    font-size: 11px;
    border-top: 1px solid black;
    height: 17px;
}
footer div:nth-child(2){
    border-top: 1px solid rgb(49, 44, 44);
    margin: 0 4px;
}